.lessons{
    margin-bottom: 80px;

    .row{
        align-items: center;
        @include mediaTablet{
            flex-direction: column-reverse;
        }
        
    }  
    .lesssons__img{
        img{
            border-radius: 10px;
            width: 100%;
            box-shadow: $box-shadow;
        }
    }

    .lessons__hist{
        .title-2 {
            margin-bottom: 30px;
        }
        .lessons__info-p:last-child{
            margin-top: 20px;
        }
        @include mediaTablet{
            margin-bottom: 30px;
        }
    }
}